<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="2.0.16" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.2" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.2" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.2" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Dism" version="2.0.20" targetFramework="net46" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.2" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.2" targetFramework="net46" developmentDependency="true" />
</packages>